<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recepies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Recipes</h1>
    <p>
        <a href="/">Main Menu</a>
        <br>
        <a href="/addRecipe">Add New Recepie</a>
    </p>
    <ul>
        <li th:each="recipe : ${recipes}">
            <a th:href="@{/recipe/{name}(name=${recipe.name})}" th:text="'Recipe: ' + ${recipe.name}">
            </a>
        </li>
    </ul>
</body>
</html>
